# {{.Args.Title}}

This template generates markdown file.
It illustrates passing data to template via CLI, ENV and YAML.

## TODO list (from data file)

{{range $v := .Data.todo}}
{{- range $k, $v := $v -}}
### {{$k}}
{{range $v}}
- {{.}}
{{- end}}
{{end}}
{{end -}}

## ENV vars (with names between 3 and 5 chars and values between 10 and 30 chars long)

{{range $k, $v := .Env}}
{{- if and (ge (len $k) 3) (le (len $k) 5) (ge (len $v) 10) (le (len $v) 30)}}
{{$k}}: {{$v}}
{{end}}
{{- end}}
